= form_for @deployment_group, html: {class: "form-horizontal"} do |f|
  - if @deployment_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deployment_group.errors.count, "error")} prohibited this deployment_group from being saved:"
      %ul
        - @deployment_group.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label= f.label :identifier
    .controls
      = f.text_field :identifier
      %span.help-block The group identifier used by the clients to download matching signed commands.

  .control-group
    %label.control-label= f.label :name
    .controls
      = f.text_field :name
      %span.help-block Name used throughout the interfaces

  .control-group
    .controls
      %label.checkbox
        = f.check_box :verified_only
        Verified only
      %span.help-block If set, then this deployment group will only ever be able to use files that have been verified in a staging environment

  .control-group
    .controls
      %label.checkbox
        = f.check_box :autoupdate
        Auto update
      %span.help-block If set, then this group will automatically be given access to new files as they are valiated.

  .control-group
    .controls
      = f.submit 'Save', class: "btn"
