%h1 Deployment groups
%p Deployment groups are different sets of machines that can individually be given different versions of our client software to run. The most common use case is to have a staging group and a production group. New versions of our client software is then first executed by the staging group before it can be passed on to the production group.
%p
  Groups with
  %strong Verified only
  set to true can only send out versions of files to their users if those files have been verified. A
  %strong production
  group should have this property set.
%p
  Groups with
  %strong autoupdate
  set to true will automatiacally create new commands for new file versions as they become available. If
  %strong verified only
  is also set, then they will automatically get new versions as the builds are validated.

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Identifier
      %th Verified only
      %th Autoupdate
      %th
      %th

  %tbody
    - @deployment_groups.each do |deployment_group|
      %tr
        %td= deployment_group.name
        %td= deployment_group.identifier
        %td= deployment_group.verified_only
        %td= deployment_group.autoupdate
        %td= link_to 'Edit', edit_deployment_group_path(deployment_group)
        %td= link_to 'Remove', deployment_group, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add a deployment group', new_deployment_group_path, class: "btn"
