%h1= "commit #{@deployable_entity_version.commit_id}"

%p= "#{@deployable_entity_version.deployable_entity.repo} commit #{@deployable_entity_version.commit_id}"

%h2= "Status #{@deployable_entity_version.status}"

- if @deployable_entity_version.build_completed
  = button_to "Reset build status", reset_deployable_entity_deployable_entity_version_path(@deployable_entity_version.deployable_entity, @deployable_entity_version), :class => "btn btn-warning"
- elsif @deployable_entity_version.part_of_build?
  = button_to "Force build status reset despite ongoing build", reset_deployable_entity_deployable_entity_version_path(@deployable_entity_version.deployable_entity, @deployable_entity_version), :class => "btn btn-danger"

%h2 tpm environment log
%pre
  = @deployable_entity_version.build_log_tpm

%h2 non-tpm environment log
%pre
  = @deployable_entity_version.build_log_no_tpm
