
%h4 Are you sure you want to destroy this cluster?
%b This operation can not be reversed.

%br
%br

%p
  Name:
  %b= @cluster.name
%p
  Using build:
  %b= link_to @cluster.build.name, build_path(@cluster.build.id)
%p
  Health:
  %b= @cluster.health
%p
  Cloaks composing the cluster:
  %ul
    - @cluster.cloaks.each do |cloak|
      %li
        %b= link_to cloak.name, cloak_path(cloak.id)
        %em= "(#{cloak.health})"
%p
  Analysts using the cluster:
  %ul
    - @cluster.analysts.each do |analyst|
      %li
        %b= link_to analyst.name, analyst_path(analyst.id)
%p
  Tasks active on the cluster:
  %ul
    - @cluster.tasks.each do |task|
      %li
        %b= "#{task.name} - #{task.type_string}"
%p
  Enter cluster name to confirm operation:
  = form_tag cluster_path(@cluster), method: :delete, class: "form-inline" do
    .control-group
      .controls
        = text_field_tag "cluster_name"
        = submit_tag 'Destroy', class: "btn btn-danger"

%p
  = link_to 'Clusters overview', clusters_path