%h3
  = "#{@target_type} history"

- if @alterations.size > 0 then
  %table.table.table-striped
    %thead
      %tr
        %th Time ago
        %th Author
        %th Change

    %tbody
      - @alterations.each do |alteration|
        %tr
          %td= time_ago_in_words alteration.created_at
          %td= alteration.user.login
          %td= alteration.description

= link_to 'Back', :back