= form_for @staging_machine, html: {class: "form-horizontal"} do |f|
  - if @staging_machine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@staging_machine.errors.count, "error")} prohibited this staging_machine from being saved:"
      %ul
        - @staging_machine.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label= f.label :name
    .controls
      = f.text_field :name
      %span.help-block 
        This is the machine name, for example
        %strong vrt-41-11.
  .control-group
    %label.control-label= f.label :description
    .controls
      = f.text_field :description
      %span.help-block For example what Operating system this machine runs
  .control-group
    .controls
      = f.submit 'Save', class: "btn"
