%h1 Staging machines
%p 
  These machines are using the version of the client software from the 
  %strong staging 
  deployment group.

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th

  %tbody
    - @staging_machines.each do |staging_machine|
      %tr
        %td= staging_machine.name
        %td= staging_machine.description
        %td= link_to 'Edit', edit_staging_machine_path(staging_machine)
        %td= link_to 'Remove', staging_machine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Staging machine', new_staging_machine_path, class: "btn"
