%p#notice= notice

%p
  %b Name:
  = @staging_machine.name
%p
  %b Description:
  = @staging_machine.description

= link_to 'Edit', edit_staging_machine_path(@staging_machine)
\|
= link_to 'Back', staging_machines_path
