!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1= "#{@cluster.name} is #{@cluster.status}"
    %p manny-air reports the following status:
    %pre= @description

    %p
      %h2= "Changes since cluster was last active:"
      - if @alterations.size > 0 then
        %table.table.table-striped
          %thead
            %tr
              %th Time ago
              %th Author
              %th Change

          %tbody
            - @alterations.each do |alteration|
              %tr
                %td= time_ago_in_words alteration.created_at
                %td= alteration.user.login unless alteration.user.nil?
                %td= alteration.description
    %p
      Check out the cluster page for more information on
      = cluster_url(@cluster, host: 'hello.aircloak.com')

    %p Thanks!
    %p
      Your friend,
      %br
      Manny Air
