!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1= "#{@cloak.name} is broken!"

    %p= "Manny-air reported that #{@cloak.name} is broken."

    - if @cloak.cluster
      %p= "#{@cloak.name} belongs to the cluster named #{@cloak.cluster.name}."
      - if @cloak.cluster.status_description
        %p The cluster status is:
        %pre= @cloak.cluster.status_description
    - else
      %p= "#{@cloak.name} does not currently belong to a cluster."

    %p
      Sad greetings from your good friend,
      %br
      The manny
