!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1 Nightly regression test failure
    %p
      The current state of our system is broken.
      Please investigate, and someone claim responsibility.
    %p
      To inspect the failed test run, please visit
      = link_to "the results page", test_result_url(@test_result, host: 'hello.aircloak.com')

    - if @test_result.failed_tests.count > 0
      %h3= "#{pluralize(@test_result.failed_tests.count, "test")} failed:"
      %ul
        - @test_result.failed_tests.each do |test|
          %li= link_to test.name, test_item_url(test, host: 'hello.aircloak.com')

    - if @test_result.failed_vms.count > 0
      %h3= "#{pluralize(@test_result.failed_vms.count, "vm")} failed:"
      %ul
        - @test_result.failed_vms.each do |vm|
          %li= link_to vm.name, test_vm_url(vm, host: 'hello.aircloak.com')

    %p
      Sad greetings from your good friend,
      %br
      The Test Server
