= form_for @cluster do |f|
  - if @cluster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cluster.errors.count, "error")} prohibited this cluster from being saved:"
      %ul
        - @cluster.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label Name
    .controls
      = f.text_field :name
    %label.control-label Build ID
    .controls
      = f.select :build_id, Build.all.map {|build| [build.name + (if build.tpm; ""; else; " (non-tpm)"; end), build.id]}

  .control-group
    %label.control-label Cloaks (choose any number with matching TPM)
    .controls
      = select_tag "cloak_selections", options_for_select(@cluster.available_cloaks, @cluster.selected_cloaks), :multiple => true

  .control-group
    .controls
      = f.submit 'Save', class: "btn"
