= form_for @cluster, html: {class: "form-horizontal"} do |f|
  - if @cluster.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cluster.errors.count, "error")} prohibited this cluster from being saved:"
      %ul
        - @cluster.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = control_label "Name"
    .controls
      = f.text_field :name
      %span.help-block The cluster name is also used for naming logs on the log server. Please keep it sensible.

  .control-group
    = control_label "Build ID"
    .controls
      = f.select :build_id, Build.all.map {|build| [build.name, build.id]}, {:prompt => true}, {:onChange => "build_change();"}

  .control-group
    = control_label "Cloaks"
    .controls
      - if @cluster.available_cloaks.count == 0
        %label.checkbox
          No cloaks available
      - else
        - @cluster.available_cloaks.each do |cloak|
          %label.checkbox
            = check_box_tag "cloak_selections[]", cloak.id, cloak.cluster == @cluster && cloak.cluster_cloak.state != :to_be_removed
            = cloak.display_name

  .control-group
    = control_label "Analysts"
    .controls
      - Analyst.all.each do |analyst|
        %label.checkbox
          = check_box_tag "analyst_selections[]", analyst.id, @cluster.analysts.include?(analyst)
          = analyst.name

  .control-group
    = control_label "Capabilities"
    .controls
      - Capability.all.each do |capability|
        %label.checkbox
          = check_box_tag "capabilities_selections[]", capability.id,
              @cluster.capabilities.include?(capability)
          = capability.name

  .control-group
    .controls
      - if controller.action_name == "edit"
        = f.submit 'Update cluster', class: "btn btn-success"
      - else
        = f.submit 'Create cluster', class: "btn btn-success"
