%h1 Listing clusters

- if @clusters.size > 0 then
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th TPM
        %th Build
        %th #Cloaks
        %th #Cloaks Changing
        %th #Cloaks with SW Problems
        %th #Cloaks with HW Problems
        %th Health
        %th
        %th
        %th

    %tbody
      - @clusters.each do |cluster|
        - health = cluster.health_of_cloaks
        %tr
          %td= cluster.name
          %td= cluster.tpm
          %td= cluster.build.name
          %td= cluster.cloaks.count
          %td= health[:changing]
          %td= health[:sw_failure]
          %td= health[:hw_failure]
          %td= if health[:sw_failure] + health[:hw_failure] > 0; "poor"; else; "healthy"; end
          %td= link_to 'Show', cluster
          %td= link_to 'Edit', edit_cluster_path(cluster)
          %td= link_to 'Destroy', cluster, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h4 Add a new cluster
= render 'form'
