%p#notice= notice

%p
  %b Name:
  = @cluster.name
%p
  %b TPM:
  = @cluster.tpm
%p
  %b Using build:
  = link_to @cluster.build.name, build_path(@cluster.build.id)
%p
  %b Health:
  = @cluster.health
%p
  %b Attached cloaks:
  %ul
    - @cluster.cloaks.each do |cloak|
      %li
        = link_to cloak.name, cloak_path(cloak.id)
        %em= "(#{cloak.health})"
%p
  %b Analysts:
  %ul
    - @cluster.analysts.each do |analyst|
      %li
        = link_to analyst.name, analyst_path(analyst.id)
%p
  %b Capabilities:
  %ul
    - @cluster.capabilities.each do |capability|
      %li= capability.name

= link_to 'Edit', edit_cluster_path(@cluster)
\|
= link_to 'Back', clusters_path
