%p#notice= notice

%h4 Cluster info

%p
  %b Name:
  = @cluster.name
%p
  %b TPM:
  = @cluster.tpm
%p
  %b Using build:
  = link_to @cluster.build.name, build_path(@cluster.build.id)
%p
  %b Health:
  = @cluster.health
%p
  %b Attached cloaks:
  %ul
    - @cluster.cloaks.each do |cloak|
      %li
        = link_to cloak.name, cloak_path(cloak.id)
        %em= "(#{cloak.health})"
%p
  %b Analysts:
  %ul
    - @cluster.analysts.each do |analyst|
      %li
        = link_to analyst.name, analyst_path(analyst.id)
%p
  %b Capabilities:
  %ul
    - @cluster.capabilities.each do |capability|
      %li= capability.name

= link_to 'Clusters overview', clusters_path
\|
= link_to "History", alterations_path(target_type: "Cluster", target_id: @cluster.id)
\|
= link_to 'Statistics', metrics_path(:cluster => @cluster.name)
\|
= link_to 'Audit-log', "/audit_logs/cluster/#{@cluster.id}"
\|
= link_to 'Edit', edit_cluster_path(@cluster)
\|
- if @cluster.can_delete?
  = link_to 'Destroy', @cluster, method: :delete, data: { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"
