%p#notice= notice

%p
  %b Name:
  = @cluster.name
%p
  %b TPM:
  = @cluster.tpm
%p
  %b Using build:
  = @cluster.build.name
%p
  %b Attached cloaks:
  %ul
    - @cluster.cloaks.each do |cloak|
      %li
        = cloak.name
        %em= "(#{cloak.health})"

= link_to 'Edit', edit_cluster_path(@cluster)
\|
= link_to 'Back', clusters_path
