= help_link 'managing-data'

= content_for(:javascript_include) {javascript_include_tag "migrations/main", "data-turbolinks-track" => true}
= content_for :javascript do
  :coffeescript
    $(document).ready ->
      table_data = JSON.parse '#{@table_data}'
      migration = JSON.parse '#{@previous_migration}'
      window.columns.setup
        is_creation: false
        raw_data: table_data
        raw_previous_migration: migration

%h1= "Change #{@table.table_name}"

= form_tag({controller: "user_tables", action: "update"}, method: :put,
    class: "form-horizontal", id: "table-form") do |f|

  - if @table.errors.any?
    .well.alert-error
      %h3= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = control_label "Table name"
    .controls
      %input#table_name.disabled{type: :text, value: @table.table_name, disabled: true}

  .control-group{:style => "#{"display:none" if current_user.ready_clusters.length < 2}"}
    = control_label "In cluster", tooltip: "in_cluster"
    .controls
      %input#table_name.disabled{type: :text, value: @table.cluster.name, disabled: true}

  %textarea#table_json.hidden{name: :table_json}
  %textarea#migration.hidden{name: :migration}

  %hr

  .control-group
    .controls
      Once you are happy with the changes and colums as listed below,
      = submit_tag 'save changes', :class => "btn btn-success submit-btn disabled"
      , or if you prefer you can
      = link_to "cancel", user_tables_path, class: "btn"

= render 'columns'

= link_to "Back", user_tables_path, class: "btn"
