-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "tasks", "data-turbolinks-track" => true}

.form-container
  = form_for @task, :html => {:class => "form-horizontal new_query"} do |f|
    - if @task.errors.any?
      .well.alert-error
        %h3= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      %label.control-label Task name
      .controls
        = f.text_field :name
    - if current_user.has_multiple_clusters?
      .control-group
        %label.control-label Belongs to cluster
        .controls
          = f.select :cluster_id, current_user.ready_clusters.map {|cluster| [cluster.name, cluster.id]}
    .control-group
      %label.control-label Prefetch
      .controls
        = f.text_area :prefetch
    .control-group
      %label.control-label Code
      .controls
        = f.text_area :code
    .control-group
      .controls
        = f.submit 'Save', :class => "btn btn-success"
