- if Task.count > 0
  %h1 Tasks

  %table.table.table-condensed
    %thead
      %tr
        %th Name
        %th Cluster
        %th Task Type
        %th Stored task?
        %th
        %th
    %tbody
    - Task.each do |task|
      %tr
        %td= task.name
        %td= task.cluster.name
        %td= task.update_task ? "UPDATE" : "QUERY"
        %td= task.payload_identifier ? "yes (#{task.payload_identifier})" : "no"
        %td= link_to 'Edit', edit_task_path(task), class: "btn btn-mini"
        %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"

%h4= link_to 'Add a new task', new_task_path
