= help_link 'understanding-the-query-model'

- if @tasks.count > 0
  %h1 Tasks

  - if @tasks.any? {|task| task.cluster.nil?}
    .alert
      %button.close{type: "button", data: {dismiss: "alert"}} &times;
      %strong Warning!
      One or more of your tasks are not assigned to a cluster. They cannot be run

  %table.table.table-striped
    %thead
      %tr
        %th Name
        - if current_user.has_multiple_clusters?
          %th Cluster
        %th Stored Results
        %th
    %tbody
    - @tasks.each do |task|
      %tr{class: ("error" if task.cluster.nil?)}
        %td= task.name
        - if current_user.has_multiple_clusters?
          - if task.cluster
            %td= task.cluster.name
          - else
            %td NO CLUSTER ASSIGNED
        %td= link_to task.results.count, latest_results_task_path(task.token)
        %td
          = link_to 'Latest results', latest_results_task_path(task.token), class: "btn btn-mini"
          = link_to 'Edit task', edit_task_path(task.token), class: "btn btn-mini"
          = link_to task.results.count > 0 ? "Delete results" : "Destroy task", task_path(task.token), :method => :delete,
            :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"

= link_to 'Add a new task', new_task_path, class: "btn"
