= help_link 'understanding-the-query-model'

- if @tasks.count > 0
  %h1 Tasks

  %table.table.table-striped
    %thead
      %tr
        %th Name
        - if current_user.has_multiple_clusters?
          %th Cluster
        %th Stored Results
        %th
    %tbody
    - @tasks.each do |task|
      %tr
        %td= task.name
        - if current_user.has_multiple_clusters?
          %td= task.cluster.name
        %td= link_to task.results.count, result_path(task.id)
        %td
          = link_to 'Results for task', latest_results_task_path(task.id), class: "btn btn-mini"
          = link_to 'Run task', execute_as_batch_task_task_path(task), method: "post", class: "btn btn-mini"
          = link_to 'Edit task', edit_task_path(task), class: "btn btn-mini"
          = link_to 'Destroy task', task, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"

= link_to 'Add a new task', new_task_path, class: "btn"
