= help_link 'understanding-the-query-model'

%h3 Private tasks
- if @private_tasks.count > 0
  - @tasks = @private_tasks
  = render 'tasks'
-else
  %p No private tasks available.

%hr

%h3 Shared tasks
- if @shared_tasks.count > 0
  - @tasks = @shared_tasks
  = render 'tasks'
-else
  %p No shared tasks available.

%hr

= link_to 'Create a new task', new_task_path
= link_to 'Deleted tasks', deleted_tasks_path, class: "right-aligned"

