-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "latest_results", "data-turbolinks-track" => true}
= content_for(:javascript_include) {javascript_include_tag "airpub_api", "data-turbolinks-track" => true}

%h3= "#{@task.name}: latest results"

%p= "Below are the latest results for task '#{@task.name}':"

%p
  - if @task.batch_task?
    To get more results, execute the task again.
    %button{class: "btn btn-mini", onClick: "Task.execute('#{@task.token}');"} Run task
    \|
    = link_to 'Edit task', edit_task_path(@task.token)
    %div#task_status
      >
    %div#progress_indicator
  - else
    - if @task.active then
      Task is
      %b active.
      = link_to 'Suspend', suspend_task_path(@task.token), :method => :post, class: "btn btn-mini"
    - else
      Task is
      %b suspended.
      = link_to 'Resume', resume_task_path(@task.token), :method => :post, class: "btn btn-mini"
    \|
    = link_to 'Edit task', edit_task_path(@task.token)

-# set listen parameters
.listen_params{data: {server_url: @server_url, request: @request}}

= render 'results'

= link_to 'Tasks overview', tasks_path
= link_to 'All results', all_results_task_path(@task.token), class: "right-aligned"
