= form_for @client_file_version do |f|
  - if @client_file_version.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client_file_version.errors.count, "error")} prohibited this client_file_version from being saved:"
      %ul
        - @client_file_version.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :data
    = f.text_field :data
  .field
    = f.label :sha1
    = f.text_field :sha1
  .field
    = f.label :size
    = f.number_field :size
  .field
    = f.label :times_downloaded
    = f.number_field :times_downloaded
  .actions
    = f.submit 'Save'
