%h1 Client file versions

%table.table.table-condensed
  %thead
    %tr
      %th Version Id
      %th Sha1
      %th Size
      %th Times downloaded
      %th Verified

  %tbody
    - @client_file_versions.each do |client_file_version|
      %tr
        %td= client_file_version.id
        %td= client_file_version.sha1
        %td= client_file_version.size
        %td= client_file_version.times_downloaded
        %td= link_to client_file_version.verification_description, verification_path(client_file_version.id)
