%p#notice= notice

%p
  %b Data:
  = @client_file_version.data
%p
  %b Sha1:
  = @client_file_version.sha1
%p
  %b Size:
  = @client_file_version.size
%p
  %b Times downloaded:
  = @client_file_version.times_downloaded

= link_to 'Edit', edit_client_file_version_path(@client_file_version)
\|
= link_to 'Back', client_file_versions_path
