%p#notice= notice

%p
  %b Name:
  = @analyst.name
%p
  %b Clusters:
  %ul
    - @analyst.clusters.each do |cluster|
      %li
        = link_to cluster.name, cluster_path(cluster.id)

= link_to 'Edit', edit_analyst_path(@analyst)
\|
= link_to 'Back', analysts_path
