%h1 Audit logs

%p Select a cluster to browse the audit log for:

%ul
  - @clusters.each do |cluster|
    %li= link_to cluster.name, "/audit_logs/cluster/#{cluster.id}"

- if @latest_entries.size > 0
  %h2 Latest log entries
  %table.table.table-striped
    %thead
      %tr
        %th Cloak
        %th Entry id
        %th Verified
        %th Timestamp
        %th Source
        %th Message
        %th
    %tbody
      - @latest_entries.each do |log_entry|
        %tr
          %td= link_to log_entry.cloak.name, "/audit_logs/cloak/#{log_entry.cloak.id}"
          %td= log_entry.log_id
          %td= log_entry.verified
          %td= log_entry.timestamp
          %td= log_entry.source
          %td= log_entry.message
          %td= link_to 'Raw entry', audit_log_path(log_entry), class: "btn btn-mini"

  = will_paginate @latest_entries

- else
  %h4 No audit-log entries as of yet
