%h1 
  Verifications for 
  = @file.name

- if @file.manually_verified
  .alert.alert-info
    %button.close{type:"button", :'data-dismiss'=>"alert"} &times;
    Please note that this file has been manually verified.

- if permitted_to? :update, :client_file_versions
  - if @file.not_verified_and_not_failed
    %hr
    %p
      %strong= @file.name
      has not been verified although it was submitted
      = "#{time_ago_in_words @file.created_at} ago."
    %p You can forcefully mark it as verified, but only do so if you fully understand the consequences of doing so.
    %p Reasons for marking a file as verified, despite it not having been programatically verified would be if:
    %ul
      %li One of the staging machines have become permanently unavailable yet cannot be removed from the system
      %li Other good reason (which I cannot think of)

    %p
      %strong Please note:
      If a staging machine sends in an event (positive or negative) after the file has been marked as 
      %strong verified
      then the verification status might again change according to if the file still should be considered to be verified or not.
    %p For example if the version has two missing events, and one of the two staging machines that had not yet replied sends in a positive event, then the last missing event will again cause the file to be considered not verified.
    %p Another example would be if a missing event comes in as a negative event.

    .alert.alert-error.form-horizontal{:"ng-app" => "verifications_matrix"}
      = form_tag verify_verification_path(@file), name: 'danger_form' do
        %h3 Danger zone
        .control-group
          %label.control-label File to verify
          .controls
            = text_field_tag :verification, "", :'ng-model' => "verification_name", :'ng-pattern' => "/#{@file.name}/", required: true
            %span.help-block Please type in the name of the file you want to manually verify
        .control-group
          .controls
            = button_to "Manually mark #{@file.name} as verified", 
              verify_verification_path(@file), 
              class: "btn btn-danger disabled", 
              data: {confirm: "Do you understand the consequences of forcefully marking a non-verified file as verified?"}, 
              :'ng-disabled' => "danger_form.$invalid",
              :'ng-class' => "{disabled:danger_form.$invalid}"
    %hr

%table.table.table-condensed
  %thead
    %tr 
      %th Events
      - @machines.each do |machine|
        %th= machine.name
  %tbody
    - @event_names.each do |name|
      %tr
        %td= name
        - @machines.each do |machine|
          %td
            - event = machine.result_for(@file, name)
            - if event == :missing
              %span.boxed-span.yellow ?
            - else 
              - if event.positive
                %span.boxed-span.green
                  ok
                  = "(#{event.created_at})"
              - else
                %span.boxed-span.red 
                  &times
                  = "(#{event.created_at})"
