-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "builds", "data-turbolinks-track" => true}

.form-container{:"ng-app" => "buildEditor"}
  = form_for @build, html: {class: "form-horizontal"} do |f|
    - if @build.errors.any?
      #error_explanation
        %h2= "#{pluralize(@build.errors.count, "error")} prohibited this build from being saved:"
        %ul
          - @build.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = control_label "Build name"
      .controls
        = f.text_field :name
    .control-group
      = control_label "Manual build?"
      .controls
        = f.check_box :manual, :'ng-model' => "manual", value: "true", checked: true
    %div{:'ng-hide' => 'manual'}
      .control-group
        = control_label "Build form"
        .controls
          %label.radio
            %input{type: :radio, name: :from_develop, :'ng-model' => "from_branch", value: "true", checked: true} From develop branch
          %label.radio
            %input{type: :radio, name: :from_develop, :'ng-model' => "from_branch", value: "false"} From commits

      %div{:'ng-hide' => 'from_branch'}
        %h2 Select versions of the deployable entities

        - DeployableEntity.all.each do |de|
          .control-group
            = control_label de.repo
            .controls
              = select_tag "build_versions[]", options_for_select(de.select_tag_titles, @build.version_for_entity(de))


    .control-group
      .controls
        = f.submit 'Save', class: "btn btn-success"
