-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "builds", "data-turbolinks-track" => true}

.form-container
  = form_for @build, html: {class: "form-horizontal", id: "build_form"} do |f|
    - if @build.errors.any?
      #error_explanation
        %h2= "#{pluralize(@build.errors.count, "error")} prohibited this build from being saved:"
        %ul
          - @build.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = control_label "Build name"
      .controls
        = f.text_field :name
    .control-group
      = control_label "Manual build?"
      .controls
        = f.check_box :manual, id: "manual_build", value: "true", checked: false
    %div#manual_settings
      .control-group
        = control_label "Build form"
        .controls
          %label.radio
            %input{type: :radio, id: "from_develop", name: :from_develop, value: "true", checked: true} From develop branch
          %label.radio
            %input{type: :radio, id: "from_branch", name: :from_develop, value: "false"} From other branches

      %input{type: :hidden, name: :branch_selections, id: "branch_selections"}

      %div#from_branch
        .branch_selector
          .loading
            .control-group
              .controls
                %strong Loading branch info, please be patient
          .repos
            %h2 Select versions of the deployable entities

    .control-group
      .controls
        = f.submit 'Save', class: "btn btn-success"
