%h1 Existing builds

%table.table.table-striped
  %tr
    %th Name
    %th Requires TPM
    %th Status
    %th

  - @builds.each do |build|
    %tr
      %td= build.name
      %td= build.tpm
      %td= link_to build.status_message, build_path(build)
      %td
        - if build.can_destroy?
          = link_to 'Destroy', build_path(build), :method => :delete, :data => { :confirm => 'Are you sure?' }
        - else
          Currently used by a cluster or version test

%br

= link_to 'Add a new build', new_build_path
