%h1 Current deployable entities
%p These are the applications and configuration entities that we deploy as part of cloak clusters.

%table.table.table-striped
  %thead
    %tr
      %th Repo
      %th Description
      %th # versions
      %th Status
      %th

  %tbody
    - if @deployable_entities.count == 0
      %tr
        %td{colspan: 6} No deployable entities added
    - @deployable_entities.each do |deployable_entity|
      %tr
        %td= deployable_entity.repo
        %td= deployable_entity.description
        %td= link_to deployable_entity.commits.count, deployable_entity_deployable_entity_versions_path(deployable_entity)
        %td= deployable_entity.status
        %td
          = link_to 'Edit', edit_deployable_entity_path(deployable_entity), class: "btn btn-mini"
          - if deployable_entity.can_destroy?
            = link_to 'Destroy', deployable_entity, :method => :delete, :data => { :confirm => 'Are you sure?' },
                class: "btn btn-mini btn-danger"
          - else
            Cannot destroy while part of active build

%br

= link_to 'Add a new entity', new_deployable_entity_path, class: "btn"
