.form-container
  = form_for @user, html: {class: "form-horizontal"} do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      = control_label "Login"
      .controls
        = f.text_field :login
    .control-group
      = control_label "Email"
      .controls
        = f.text_field :email
    .control-group
      = control_label "Password"
      .controls
        = f.password_field :password
    .control-group
      = control_label "Password confirmation"
      .controls
        = f.password_field :password_confirmation

    - if current_user.admin?
      .control-group
        = control_label "Analyst"
        .controls
          = f.select :analyst_id, Analyst.analyst_options

    - if permitted_to? :manage, :user_permissions
      .alert
        %button.close{type: "button", data: {dismiss: "alert"}} &times;
        %strong Notice!
        %p
          Only Aircloak employees should be given administrator privileges.
          The
          %strong administrator
          privilege is not the same as an
          %strong analyst account administrator.
          If a user is given administrator privileges, he or she can create clusters
          and impersonate any other analyst.
      .control-group
        = control_label "Permissisions"
        .controls
          - Permission.all.each do |permission|
            %label.checkbox
              = check_box_tag "user[permission_ids][]", permission.id, @user.permissions.include?(permission)
              = permission.name.titleize
              %span.help-block= permission.description
            %hr
            %label.checkbox
          %span.help-block
            A user automatically becomes an
            %strong inquirer
            if the analyst option is set

    .control-group
      .controls
        = f.submit 'Save', class: "btn btn-success"
