.form-container
  = form_for @user, html: {class: "form-horizontal"} do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      %label.control-label= f.label :login
      .controls
        = f.text_field :login
    .control-group
      %label.control-label= f.label :email
      .controls
        = f.text_field :email
    .control-group
      %label.control-label= f.label :password
      .controls
        = f.password_field :password
    .control-group
      %label.control-label= f.label :password_confirmation
      .controls
        = f.password_field :password_confirmation
    - if permitted_to? :manage, :user_permissions
      .control-group
        %label.control-label= f.label :permissions
        .controls
          - Permission.all.each do |permission|
            %label.checkbox
              = check_box_tag "user[permission_ids][]", permission.id, @user.permissions.include?(permission)
              = permission.name.humanize
              %span.help-block= permission.description

    .control-group
      .controls
        = f.submit 'Save', class: "btn btn-success"
        = link_to 'Cancel', users_path, class: "btn"
