%h1 Users

%table.table.table-striped
  %thead
    %tr
      %th Login
      %th Email
      %th Last login
      %th Member since
      %th Last updated
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.login
        %td= user.email
        %td= user.last_login_at
        %td= time_ago_in_words user.created_at
        %td= time_ago_in_words user.updated_at
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Remove', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
