%form.form-horizontal
  .control-group
    Login
    .controls
      = @user.login
  .control-group
    Login count
    .controls
      = @user.login_count
  .control-group
    Last request at:
    .controls
      = @user.last_request_at
  .control-group
    Last login at
    .controls
      = @user.last_login_at
  .control-group
    Current login at
    .controls
      = @user.current_login_at
  .control-group
    Last login ip:
    .controls
      = @user.last_login_ip
  .control-group
    Current login ip
    .controls
      = @user.current_login_ip


= link_to 'Edit', edit_user_path(@user)
