%table.table.table-condensed
  %tr
    %td Login
    %td= @user.login
  %tr
    %td Login count
    %td= @user.login_count
  %tr
    %td Last request at:
    %td= @user.last_request_at
  %tr
    %td Last login at
    %td= @user.last_login_at
  %tr
    %td Current login at
    %td= @user.current_login_at
  %tr
    %td Last login ip:
    %td= @user.last_login_ip
  %tr
    %td Current login ip
    %td= @user.current_login_ip

= link_to 'Edit', edit_user_path(@user), class: "btn"
