= form_for @client_file_event do |f|
  - if @client_file_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client_file_event.errors.count, "error")} prohibited this client_file_event from being saved:"
      %ul
        - @client_file_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :positive
    = f.check_box :positive
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :client_file_version
    = f.text_field :client_file_version
  .field
    = f.label :staging_machine
    = f.text_field :staging_machine
  .actions
    = f.submit 'Save'
