%p#notice= notice

%p
  %b Positive:
  = @client_file_event.positive
%p
  %b Description:
  = @client_file_event.description
%p
  %b Event:
  = @client_file_event.event
%p
  %b Client file version:
  = @client_file_event.client_file_version
%p
  %b Staging machine:
  = @client_file_event.staging_machine

= link_to 'Edit', edit_client_file_event_path(@client_file_event)
\|
= link_to 'Back', client_file_events_path
