%h2 Add a new key

.form-container

  = form_tag({}, class: "form-horizontal new_query") do

    .control-group
      = control_label "Description"
      .controls
        = text_field_tag :description

    .control-group
      = control_label "Password"
      .controls
        = password_field_tag :password

    .control-group
      = control_label "Key type", tooltip: "key_type"
      .controls
        = select_tag "key_type", options_for_select([["Data upload key", "data_upload_all"],
          ["Admin key", "admin"], ["Key for running tasks", "task_runner"]], "Data upload key")

    .control-group
      .controls
        = submit_tag 'Create new key', :class => "btn btn-success"
