%h1 Client binaries

This interface allows you to upload new versions of the applications and dependencies that run on the client computers.

%hr

%p
  %strong Upload a new version of a file

= form_tag client_binaries_path, class: "form-horizontal", multipart: true, id: "client_binaries_form" do
  .control-group
    %label.control-label Select binary
    .controls
      = file_field_tag :binary, multiple: false, name: "binary", class: "btn"
  .control-group
    %label.control-label File
    .controls
      = select_tag :client_file_id, options_for_select(ClientFile.as_options)
      = link_to "Add new file", new_client_file_path, class: "btn"
      %span.help-block
        = link_to "Do you want to upload a different file? Click here to add it first.", new_client_file_path
  .control-group
    .controls
      = submit_tag "Upload", class: "btn"

%hr
%h2 Most recent version of files

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Version
      %th Type
      %th Date
      %th Sha1
      %th Downloads 
      %th Size
  %tbody
  - @versions.each do |version|
    - if version.is_a? Hash
      %tr.error
        %td= version[:name]
        %td No version uploaded
        %td
        %td
        %td
        %td
        %td
    - else
      %tr
        %td= version.client_file.name
        %td= version.id
        %td= version.client_file.client_file_type.name
        %td= time_ago_in_words version.created_at
        %td= link_to version.sha1, client_binary_path(version)
        %td= version.times_downloaded
        %td= "#{(version.size / 1024).to_i} kB"

