%h1 Listing cloaks

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Ip
      %th Part of ring
      %th
      %th
      %th

  %tbody
    - @cloaks.each do |cloak|
      %tr
        %td= cloak.name
        %td= cloak.ip
        %td= cloak.part_of_ring ? "Yes" : "Not yet"
        %td= link_to 'Show', cloak
        %td= link_to 'Edit', edit_cloak_path(cloak)
        %td= link_to 'Destroy', cloak, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h4 Add a new cloak
= render 'form'
