%p#notice= notice

%h3 Cloak info

%p
  %b Name:
  = @cloak.name
%p
  %b Ip:
  = @cloak.ip
%p
  %b Type:
  = @cloak.tpm_display
%p
  %b Good:
  = @cloak.good
%p
  - if @cloak.cluster
    %b Part of cluster:
    = link_to @cloak.cluster.name, cluster_path(@cloak.cluster.id)
    - if @cloak.cluster_cloak.state != :belongs_to
      = " (#{@cloak.cluster_cloak.state})"
  - else
    %b available

= link_to 'Cloaks overview', cloaks_path
\|
= link_to 'Audit-log', "/audit_logs/cloak/#{@cloak.id}"
\|
= link_to 'Edit', edit_cloak_path(@cloak)
