%p#notice= notice

%p
  %b Name:
  = @cloak.name
%p
  %b Ip:
  = @cloak.ip
%p
  %b Type:
  = @cloak.tpm_display
%p
  %b Good:
  = @cloak.good
%p
  - if @cloak.cluster
    %b Part of cluster:
    = @cloak.cluster.name
  - else
    %b available

= link_to 'Edit', edit_cloak_path(@cloak)
\|
= link_to 'Back', cloaks_path
