%h1= @task.name

%p
  Below are the current results for
  = "#{@task.name}."
  To get more results, execute the task again.
= link_to 'Run task', execute_as_batch_task_task_path(@task), method: "post", class: "btn"

%hr

- if @results.count > 0
  %table.table.table-striped
    %thead
      %tr
        %th Bucket
        - @results.each do |result|
          %th= result.created_at
    - if @buckets
      %tbody
        - @buckets.each_pair do |name, bucket_results|
          %tr
            %td= name
            - @results.each do |result|
              - r = bucket_results[result.id]
              %td= r ? r : "--"
- else
  %p No results stored for this task.
