%h1= @task.name

%p
  Below are the current results for
  = "#{@task.name}."
  To get more results, execute the task again.
= link_to 'Run task', execute_as_batch_task_task_path(@task), method: "post", class: "btn"
= link_to 'Edit task', edit_task_path(@task), class: "btn"

%hr

- if @task.results.count > 0
  = link_to "Download results", "/results/#{@task.id}.csv", class: "btn"
  %table.table.table-striped
    %thead
      %tr
        %th Bucket
        - @task.results.each do |result|
          %th= result.created_at
    %tbody
      - @task.result_set.each do |name, bucket|
        %tr
          %td= name
          - @task.results.each do |result|
            - r = bucket[result.id]
            %td= r ? r : "--"
- else
  %p No results stored for this task.
