%h1= "Result #{@result.created_at} of task #{@result.task.name}"

- if @result.buckets.count > 0
  %h2 Buckets

  %table.table.table-striped
    %thead
      %tr
        %th Bucket
        %th Count
    %tbody
      - @result.buckets.each do |bucket|
        %tr
          %td= bucket.display_name
          %td= bucket.display_result

- if @result.exception_results.count > 0
  %h2 Errors

  - @result.exception_results.each do |er|
    %h4= "#{er.count} times"
    %code= er.stacktrace
