%h3 Users

%table.table.table-striped
  %thead
    %tr
      %th Login
      %th Email
      - if current_user.admin?
        %th Permissions
        %th On behalf of
        %th Monitoring opt-out
      %th Last login
      %th Member since
      %th Last updated
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.login
        %td= user.email
        - if current_user.admin?
          %td
            - if user.has_permissions?
              = user.roles
            - else
              No permissions
          %td= user.on_behalf_of
          %td= user.activity_monitoring_opt_out
        %td= user.last_login_at
        %td= time_ago_in_words user.created_at
        %td= time_ago_in_words user.updated_at
        %td
          = link_to 'Edit', edit_user_path(user) if permitted_to? :update, :users
          \|
          = link_to 'Remove', user, :method => :delete, :data => { :confirm => 'Are you sure?' },
              class: "btn btn-mini btn-danger" if permitted_to? :delete, :users

= link_to "Create a new user", new_user_path if permitted_to? :create, :users
