= form_for @deployable_entity, html: {class: "form-horizontal"} do |f|
  - if @deployable_entity.errors.any?
    #error_explanation
      %h2= "#{pluralize(@deployable_entity.errors.count, "error")} prohibited this cloak from being saved:"
      %ul
        - @deployable_entity.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = control_label "Repository name"
    .controls
      = f.text_field :repo
  - unless @deployable_entity.description.blank?
    .control-group
      = control_label "Description"
      .controls
        = @deployable_entity.description
  .control-group
    .controls
      = f.submit 'Save', class: "btn btn-success"
