%h1 Permissions available in the system

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th

  %tbody
    - @permissions.each do |permission|
      %tr
        %td= permission.name.humanize
        %td= permission.description
        %td
          - if permitted_to? :update, :permissions
            = link_to 'Edit', edit_permission_path(permission), class: "btn btn-mini"
          - if permitted_to? :delete, :permissions
            %td= link_to 'Remove', permission, :method => :delete, :data => { :confirm => 'Are you sure?' },
                class: "btn btn-mini btn-danger"

%br

= link_to 'New Permission', new_permission_path, class: "btn" if permitted_to? :create, :permissions
