%h1 Version test results

%table.table.table-condensed
  %tbody
    %tr
      %td Repo
      %td= @version_test.deployable_entity_version.deployable_entity.repo
    %tr
      %td Commit id
      %td= @version_test.deployable_entity_version.short_commit_id
    %tr
      %td Message
      %td= @version_test.deployable_entity_version.message
    %tr
      %td Status
      %td= @version_test.status

- unless @version_test.test_output.blank?
  %h2 Test transcript
  %pre= @version_test.test_output
