%h4 Add a new key

.form-container

  = form_tag({}, class: "form-horizontal new_query") do

    .control-group
      = control_label "Description"
      .controls
        = text_field_tag :description

    .control-group
      = control_label "Password"
      .controls
        = password_field_tag :password

    .control-group
      = control_label "Key type", tooltip: "key_type"
      .controls
        - if current_user.cluster_manager?
          - key_options = [["Data upload key (any user)", "data_upload_all"], ["Web API call key", "web_api"]]
          - key_options.push(["Administrative key", "admin"]) if current_user.admin?
          = select_tag "key_type", options_for_select(key_options, "Data upload key")
        - else
          = text_field_tag :key_type, "Web API call key", readonly: true

    .control-group
      .controls
        = submit_tag 'Create new key', :class => "btn btn-success"
