= help_link 'managing-data'

= content_for(:javascript_include) {javascript_include_tag "migrations/main", "data-turbolinks-track" => true}
= content_for(:javascript_include) {javascript_include_tag "airpub_api", "data-turbolinks-track" => true}
= content_for(:javascript_include) {javascript_include_tag "table_stats", "data-turbolinks-track" => true}
= content_for(:javascript_include) {javascript_include_tag "humanized_time_span", "data-turbolinks-track" => true}

:ruby
  last_computed_stats = @table.user_table_stats.last
  table_stats = if last_computed_stats
    {
      stats: true,
      success: last_computed_stats.success,
      num_users: last_computed_stats.num_users,
      num_rows: last_computed_stats.num_rows,
      refresh_link: "/backend#{compute_stats_user_table_path(@table)}",
      created_at: "#{last_computed_stats.created_at.strftime("%Y/%m/%d %H:%M:%S")}"
    }
  else
    {
      stats: false,
      success: true,
      refresh_link: "/backend#{compute_stats_user_table_path(@table)}"
    }
  end

= content_for :javascript do
  :coffeescript
    $(document).ready ->
      new TableStats(#{@table.id.to_json}, #{table_stats.to_json})
      table_data = JSON.parse '#{@table_data}'
      window.setupNonEditableView()
      window.columns.setup
        is_creation: false
        raw_data: table_data
        raw_previous_migration: ""

%h3 User table info
%h4= "Name: #{@table.table_name}"
%h5
  - if @table.row_expiry.to_s.empty?
    Rows are never deleted
  - else
    ="Rows are deleted after #{@table.row_expiry} days"

%table.table.table-striped
  %thead
    %tr
      %th Column name
      %th Type
      %th Constraints
  %tbody#columns

#stats_element

= link_to "User tables overview", user_tables_path
- if current_user.cluster_manager?
  \|
  = link_to "Edit", edit_user_table_path(@table)
  \|
  = link_to 'Clear data', clear_user_table_path(@table), :method => :post,  class: "btn btn-mini btn-danger",
      :data => { :confirm => 'Are you sure you want to clear all uploaded user data? This operation can not be reversed' }
  \|
  = link_to 'Destroy', confirm_destroy_user_table_path(@table)

