= content_for(:javascript_include) {javascript_include_tag "migrations/main"}
= content_for :javascript do
  :javascript
    $(document).ready(function() {
      var table_data = JSON.parse('#{@table_data}');
      var migration = JSON.parse('#{@previous_migration}');
      window.columns.setup({
        is_creation: true,
        raw_data: table_data,
        raw_previous_migration: migration
      });
    });

%h1 Create a table

= form_tag({controller: "tables", action: "create"}, method: :post,
    class: "form-horizontal", id: "table-form") do |f|

  - if @table.errors.any?
    .well.alert-error
      %h3= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label Table name
    .controls
      = text_field_tag :table_name, @table.table_name

  .control-group
    %label.control-label In cluster
    .controls
      = select_tag :cluster_id, options_from_collection_for_select(Cluster.ready_clusters, :id, :name)

  %textarea#table_json.hidden{name: :table_json}
  %textarea#migration.hidden{name: :migration}

  %hr

  .control-group
    .controls
      Once you are happy with the table columns below,
      = submit_tag 'create the table', :class => "btn btn-success submit-btn disabled"
      , or if you prefer you can
      = link_to "cancel", tables_path, class: "btn"

= render 'columns'

= link_to "Back", tables_path, class: "btn"
