-# Includes additional, page-specific javascripts
= content_for(:javascript_include) {javascript_include_tag "client_files", "data-turbolinks-track" => true}

.form-container{:"ng-app" => "clientFileEditor"}
  = form_for @client_file, html: {class: "form-horizontal"} do |f|
    - if @client_file.errors.any?
      #error_explanation
        %h2= "#{pluralize(@client_file.errors.count, "error")} prohibited this client_file from being saved:"
        %ul
          - @client_file.errors.full_messages.each do |msg|
            %li= msg

    .control-group
      %label.control-label= f.label :name
      .controls
        = f.text_field :name
        %span.help-block This name is within the web interface to identify the file
    .control-group
      %label.control-label= f.label :local_name
      .controls
        = f.text_field :local_name, :'ng-model' => "local_name"
        %span.help-block This is the name under which the file is stored on the client
    .control-group
      %label.control-label File type
      .controls
        = f.select :client_file_type_id, options_for_select(ClientFileType.as_options)
        = link_to 'Add new file type', new_client_file_type_path, class: "btn"
        = link_to "Is the file type needed not in the list above? Please add it", new_client_file_type_path
    .control-group
      .controls
        %label.checkbox
          = f.check_box :requires_verifications
          Requires verification
        %span.help-block Executable files should require verification. It does not make sense for files like for example images.
    .control-group
      .controls
        = f.submit 'Save', class: "btn btn-success"
        = link_to 'Cancel', client_files_path, class: "btn"
