%h1 Client files

%p This is a list of the files that are part of the aircloak client software.

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Local name
      %th File extension
      %th Type
      %th Requires verification
      %th
      %th

  %tbody
    - @client_files.each do |client_file|
      %tr
        %td= client_file.name
        %td= client_file.local_name
        %td= client_file.client_file_type.extension
        %td= client_file.client_file_type.human_name
        %td= client_file.requires_verifications
        %td= link_to 'Edit', edit_client_file_path(client_file)
        %td= link_to 'Destroy', client_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Add new file', new_client_file_path, class: "btn"
= link_to 'Add new file type', new_client_file_type_path, class: "btn"
= link_to 'Upload new versions', client_binaries_path, class: "btn"
