= content_for(:javascript_include) {javascript_include_tag "integration_test_results", "data-turbolinks-track" => true}

%h3= test.name
%svg#integration_test{data: {results: test.results}, width: "800px", height: "400px"}

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Day
      %th Success
      %th Total time
      %th Cloaks
  %tbody
    -# Show the last weeks worth of results in more detail
    - test.integration_test_results.order("created_at DESC").limit(7).each do |result|
      %tr{class: ("error" unless result.success)}
        %td= result.created_at.day
        %td= result.success
        %td= result.test_duration
        %td= result.cloaks
