- if current_user.nil?
  User needs login

- else
  - if current_user.analyst.nil?
    %h2 Welcome

  - elsif current_user.needs_onboarding?
    %h2 Welcome

    %p
      To get started analysing data, we recommend
      taking a look at the
      = raw_help_link "getting-started"
      help guide.

    %hr

    %h4 Database tables
    - if current_user.has_tables?
      %p
        You currently have
        = pluralize current_user.tables_count, "database table"
        = "."
      %p
        To get data into your database, please consider
        having a look at the
        = raw_help_link "introduction-uploading-data"
        help guide.
      %p
        The
        = raw_api_docs_link "API docs", ""
        might also prove useful.

    - else
      %p
        Before you can analyse any user data, you need to
        define database tables into which the data can be stored.
      %p
        The
        = raw_help_link "managing-data"
        help guide might be useful to get an understanding
        of how data is managed within our system.
      %p
        Database tables can be created and managed in the
        = link_to "User tables", user_tables_path
        section.

    %hr

    %h4 Tasks
    - if current_user.has_tasks?
      %p
        You have already created
        = "#{pluralize current_user.tasks_count, "task"}."

      - unless current_user.has_keys?
        %p
          In order to get meaningful results from your tasks,
          you will need to upload some data to your cluster.
        %p
          In order to upload data, you will need
          an upload key.
          Please have a look at the
          = raw_api_docs_link "authentication API docs", "authentication"
          and the
          = raw_help_link "introduction-uploading-data"
          help guide for more information on
          how you authenticate with the cloaks
          and upload data to them.

    - else
      - if current_user.has_tables?
        - unless current_user.has_keys?
          %p
            You will not be able to get any meaningful
            results from your tasks before you have
            uploaded some data to your cloaks.
          %p
            In order to upload data, you will need
            some upload keys.
            Please have a look at the
            = raw_api_docs_link "authentication API docs", "authentication"
            and the
            = raw_help_link "introduction-uploading-data"
            help guide for more information on
            how you authenticate with the cloaks
            and can upload data to them.

      - else
        %p
          Before you can write tasks, you need database tables in which
          the data you analyse can be stored.
        %p
          In the
          = link_to "User tables", user_tables_path
          section of this website you can create database tables.
        %p
          The
          = raw_help_link "managing-data"
          help guide might also be useful.

    %hr

    %p
      If you have any questions or concerns, please feel free to
      email us at
      = link_to "support@aircloak.com", "mailto:support@aircloak.com"

  - else
    %h1 Welcome back
    %p
      You have already defined
      = link_to pluralize(current_user.tables_count, "database table"), user_tables_path
      and written
      = link_to "#{pluralize current_user.tasks_count, "tasks"}.", tasks_path
      Excellent work.

    %hr
    %p
      Please never hesitate to reach out to us at
      = link_to "support@aircloak.com", "mailto:support@aircloak.com"
      if you have any questions, comments, or want inspiration in finding
      new ways to answer your questions in the framework of cloaked computing.
