= form_for @os_tag do |f|
  - if @os_tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@os_tag.errors.count, "error")} prohibited this os tag from being saved:"
      %ul
        - @os_tag.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label Name
    .controls
      = f.text_field :name
  .control-group
    %label.control-label Description
    .controls
      = f.text_field :description
  .control-group
    .controls
      = f.submit 'Save', class: "btn"
