%h3 Activities

- if params[:show_aircloak]
  = link_to "Hide aircloak employees", activities_path
- else
  = link_to "Show aircloak employees", "?show_aircloak=true"

= will_paginate @activities

%table.table.table-striped
  %thead
    %tr
      %th User
      %th
      %th Path
      %th Description
  %tbody
    - @activities.each do |activity|
      %tr{class: activity.success_class}
        %td= link_to activity.user.login, params.merge(user_id: activity.user.id)
        %td= time_ago_in_words activity.created_at
        %td= link_to activity.path, activity.path
        %td= activity.description

= will_paginate @activities
