= help_link 'understanding-the-query-model'

%h3 Private tasks
- if @private_tasks.count > 0
  = render 'tasks', :tasks => @private_tasks, :show_user => false
-else
  %p You currently have no private tasks.
%hr

%h3 Shared tasks
- if @shared_tasks.count > 0
  = render 'tasks', :tasks => @shared_tasks, :show_user => false
-else
  %p There are currently no shared tasks in you organization.
%hr

- if @other_private_tasks.present?
  %h3 Other users' private tasks
  - if @other_private_tasks.count > 0
    = render 'tasks', :tasks => @other_private_tasks, :show_user => true
  -else
    %p There are currently no private tasks for other users.
  %hr

= link_to 'Create a new task', new_task_path
= link_to 'Deleted tasks', deleted_tasks_path, class: "right-aligned"

