= help_link 'lookup-tables'

%h3 Upload table data

= form_tag({controller: "lookup_tables", action: "update"}, method: :put, multipart: true,
    class: "form-horizontal", id: "table-form") do |f|

  - if @table.errors.any?
    .well.alert-error
      %h3= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = control_label "Table name"
    .controls
      = text_field_tag :table_name, @table.table_name, disabled: true

  .control-group{:style => "#{"display:none" if current_user.ready_clusters.length < 2}"}
    = control_label "In cluster", tooltip: "in_cluster"
    .controls
      %input#table_name.disabled{type: :text, value: @table.cluster.name, disabled: true}

  .control-group
    = control_label "File", tooltip: "upload_data"
    .controls
      = file_field_tag 'upload_data'

  %hr

  .control-group
    .controls
      = submit_tag 'Upload', :class => "btn btn-success submit-btn"

= link_to 'Lookup tables overview', lookup_tables_path