= help_link 'lookup-tables'

%h1 Lookup tables

%hr

- if @tables.empty?
  %strong No tables exist yet
- else
  - @clusters.each do |cluster|
    %h2= cluster.name if current_user.has_multiple_clusters?

    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th
      %tbody
        - if @tables[cluster.id]
          - @tables[cluster.id].each do |table|
            %tr
              %td= table.table_name
              %td
                = link_to 'Upload new data', edit_lookup_table_path(table), class: "btn btn-mini"
                = link_to 'Drop table', lookup_table_path(table), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"
        - else
          %tr
            %td{colspan: 2}= "No tables in #{cluster.name} cluster"

= link_to "Create table", new_lookup_table_path, class: "btn"
