= help_link 'lookup-tables'

%h3 Create a lookup table

= form_tag({controller: "lookup_tables", action: "create"}, method: :post, multipart: true,
    class: "form-horizontal", id: "table-form") do |f|

  - if @table.errors.any?
    .well.alert-error
      %h3= "#{pluralize(@table.errors.count, "error")} prohibited this table from being saved:"
      %ul
        - @table.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = control_label "Table name"
    .controls
      = text_field_tag :table_name, @table.table_name

  .control-group{:style => "#{"display:none" if current_user.ready_clusters.length < 2}"}
    = control_label "In cluster", tooltip: "in_cluster"
    .controls
      = select_tag :cluster_id, options_from_collection_for_select(current_user.ready_clusters, :id, :name)

  .control-group
    = control_label "File", tooltip: "upload_data"
    .controls
      = file_field_tag 'upload_data'

  %hr

  .control-group
    .controls
      = submit_tag 'Create table', :class => "btn btn-success submit-btn"

= link_to 'Lookup tables overview', lookup_tables_path