!!!
%html
  %head
    %meta{'content' => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
  %body
    %h1= "Repeated answers detected for analyst #{@report.analyst.name} on cluster #{@report.cluster_name}"

    %ul
      %li= "task started from #{@report.source_ip} at #{@report.timestamp_in_UTC}"
      %li= "bucket #{@report.bucket_label_and_value} with noisy-count #{@report.bucket_count}"
      %li= "noise standard devication #{@report.noise_sd}"
      %li= "there are #{RepeatedAnswer.where(resolved: false).count} unresolved reports in total"
