= form_for @query do |f|
  - if @query.errors.any?
    #error_explanation
      %h2= "#{pluralize(@query.errors.count, "error")} prohibited this query from being saved:"
      %ul
        - @query.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label Name
    .controls
      = f.text_field :name
    %label.control-label Task
    .controls
      = f.select :task_id, Task.where(ready: true).map {|task| [task.main_package, task.id]}
    %label.control-label Cluster
    .controls
      = f.select :cluster_id, Cluster.all.map {|cluster| [cluster.main_package, cluster.id]}

  .control-group
    .controls
      = f.submit 'Save', class: "btn"
