- if @queries.count > 0
  %h1 Listing queries
  %table.table.table-condensed
    %thead
      %tr
        %th Name
        %th Task
        %th Running on behalf of
        %th Current executions
        %th
        %th
        %th
    %tbody
    - @queries.each do |query|
      %tr
        %td= query.name
        %td= query.task.main_package
        %td= query.on_behalf_of
        - if query.task.update_task then
          %td N/A
          %td
        - else
          %td= query.pending_results.size
          %td= link_to 'Execute batch', execute_as_batch_query_query_path(query), method: "post", class: "btn btn-mini"
        %td= link_to 'Edit', edit_query_path(query), class: "btn btn-mini"
        %td= link_to 'Destroy', query, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-mini btn-danger"
- else
  %h1 No queries available

%h4= link_to 'Add a new query', new_query_path
