= form_for @client_file_type, html: {class: "form-horizontal"} do |f|
  - if @client_file_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client_file_type.errors.count, "error")} prohibited this client_file_type from being saved:"
      %ul
        - @client_file_type.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    %label.control-label= f.label :human_name
    .controls
      = f.text_field :human_name
      %span.help-block Name used within the web interface
  .control-group
    %label.control-label= f.label :name
    .controls
      = f.text_field :name
      %span.help-block This name is used in the update command and is interpreted by the client updater
  .control-group
    %label.control-label= f.label :extension
    .controls
      .input-prepend
        %span.add-on FileName.#.
        = f.text_field :extension, class: "span1"
  .control-group
    .controls
      = f.submit 'Save', class: "btn"
      = link_to 'Cancel', client_file_types_path, class: "btn"
