%h1 Registered file types

%table.table.table-condensed
  %thead
    %tr
      %th Name
      %th Extension
      %th
      %th

  %tbody
    - @client_file_types.each do |client_file_type|
      %tr
        %td= client_file_type.human_name
        %td= client_file_type.extension
        %td= link_to 'Edit', edit_client_file_type_path(client_file_type)
        %td= link_to 'Remove', client_file_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Client file type', new_client_file_type_path, class: "btn"
= link_to 'Add file', new_client_file_path, class: "btn"
