.row
  .span12
    .navbar.navbar-fixed-top{class: (imposter ? "navbar-inverse" : "")}
      .navbar-inner
        .brand &nbsp;Aircloak admin
        - if current_user && current_user.admin?
          %ul.nav.navbar-nav
            -# Related to managing cloak machines and their deployment
            %li.dropdown
              %a.dropdown-toggle{href: "#", :'data-toggle' => "dropdown"}
                Cloak management
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Analysts", analysts_path
                %li= link_to "Builds", builds_path
                %li= link_to "Clusters", clusters_path
                %li= link_to "Cloaks", cloaks_path
                %li= link_to "Deployable entities", deployable_entities_path
                %li= link_to "Test results", test_results_path
                %li= link_to "Repeated answers", repeated_answers_path
                %li= link_to "Capabilities", capabilities_path
            - # Related to cloak activity monitoring
            %li.dropdown
              %a.dropdown-toggle{href: "#", :'data-toggle' => "dropdown"}
                Monitoring
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Metrics", metrics_path
                %li= link_to "AirPub", airpub_path
                %li= link_to "Audit-log", audit_logs_path
            - # Shows all user activity
            %li= link_to "Activity monitor", activities_path
            -# Related to user administration
            %li.dropdown
              %a.dropdown-toggle{href: "#", :'data-toggle' => "dropdown"}
                User administration
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Users", users_path
                %li= link_to "Permissions", permissions_path
            -# Impersonation (one of the three unforgivable curses :|)
            %li.dropdown
              %a.dropdown-toggle{href: "#", :'data-toggle' => "dropdown"}
                - if current_user.analyst
                  = "Impersonating #{current_user.analyst.name}"
                - else
                  Impersonation
                %b.caret
              %ul.dropdown-menu
                - if Analyst.count == 0
                  %li= link_to "Add an analyst", new_analyst_path
                - else
                  - Analyst.all.each do |analyst|
                    - if current_user.analyst && current_user.analyst == analyst
                      %li= link_to "Stop impersonating #{current_user.analyst.name}",
                          "/i_dont_want_to_be_an_imposter"
                    - else
                      %li= link_to "#{analyst.name}", "/impersonate/#{analyst.id}"

        %ul.nav.pull-right
          - if current_user
            %li= link_to "Logged in as #{current_user.login}", user_path(current_user)
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Login", login_path
