!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:'http-equiv' => "X-UA-Compatible", content:"IE=Edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Aircloak"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render partial: "layouts/popup"
    .container
      .content
        - if current_user && current_user.admin?
          = render partial: "layouts/navbar", locals: {imposter: true}

        .row
          .span12
            .div
              .alert.alert-error
                %button.close{type:"button", :'data-dismiss'=>"alert"} &times;
                %strong Note:
                You are running a development version of our software.
                Please do not at this time load sensitive data into your cluster,
                and be aware that data might be lost during system upgrades.

        .row
          .span12
            .div
              - if flash[:error]
                .alert.alert-error
                  %button.close{type:"button", :'data-dismiss'=>"alert"} &times;
                  = flash[:error]
              - if flash[:notice]
                .alert.alert-success
                  %button.close{type:"button", :'data-dismiss'=>"alert"} &times;
                  = flash[:notice]
        .row
          .span3
            %br

            %img{src: "/images/aircloak_web_200.png"}

            %br
            %br
            %br

            %h4= link_to "Tasks", tasks_path
            = link_to "All tasks", tasks_path
            |
            = link_to "Add task", new_task_path

            %hr

            %h4= link_to "Tables", tables_path
            = link_to "All tables", tables_path
            |
            = link_to "Add table", new_table_path

            %hr

            %h4= link_to "Users", users_path
            = link_to "All users", users_path
            |
            = link_to "Add user", new_user_path

            %hr

            %h4= link_to "Keys", keys_path

            %hr

            = link_to "Logged in #{current_user.login}", user_path(current_user)
            |
            = link_to "Logout", logout_path

            %hr

            %a{href: "mailto:solutions@aircloak.com"}
              %strong Need help?
              Please send us an email at solutions@aircloak.com.

          .span9
            = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield(:javascript_include)
    = yield(:javascript)
